services:
  db:
    image: postgres:15
    container_name: revitbot_postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: revitbot_pgadmin
    restart: always
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
      PGADMIN_SERVER_JSON_FILE: /tmp/servers.json
    volumes:
      - ./pgadmin_servers.json:/tmp/servers_template.json:ro
    entrypoint: >
      /bin/sh -c "
      sed -e 's/BUILD_USER/'$$DB_USER'/g' /tmp/servers_template.json > /tmp/servers.json &&
      /entrypoint.sh"
    ports:
      - "5050:80"
    depends_on:
      db:
        condition: service_healthy

  bot:
    build: .
    container_name: revitbot_app
    restart: always
    env_file:
      - .env
    environment:
      - DB_HOST=db
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
